---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2>
	We are a leading provider of CCTV drain surveys and tests in {location}
</h2>
<p>we are engaged by building surveyors, property managers, home owners and prospective buyers.</p>
<p>
	We maintain the latest CCTV equipment to ensure high fidelity images that provide clarity on the
	drainage system being inspected, and allows the next steps to be planned in an informed manner.
</p>
<p>
	Take the guesswork out of complex drain blockage problems. Confirm the safe use of drains to
	receive the green signal on new development work.
</p>

<h3 class="h4 coloured-text">
	Contact us on {locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER}`} to schedule your survey
	or test.
</h3>

<p>
	Our {location} engineers can work to your specific requirements in the most cost-effective way possible.
</p>

<p>
	CCTV drain cameras allow our engineers to view all parts of the drain to spot the cause of
	blockage, ranging from root ingress, collapsed drains and displaced joints to leaks, pipe scale
	and objects causing the clogging.
</p>
<p>
	A CCTV drain survey is recommended if you need a speedy and least destructive means of assessing a
	property's drainage system prior to purchase. Depending on the problem identified, we can suggest
	the appropriate course of action. If drain unblocking can solve the problem, we can break down and
	flush out the drain using specialist equipment.
</p>
