---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import DrainTests from '../../../../../images/info-drain-tests.jpg';
import DrainSurveys from '../../../../../images/info-drain-surveys.jpg';

interface Props {
	location: string;
	locationSlug: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`A Look at Our CCTV Drain Surveys in ${location}`} image={DrainSurveys}>
	<p>
		For any ongoing problem with your drainage system, we can perform a look-see survey. For
		purposes of property inspection and development work, we provide recordings and a technical
		report.
	</p>
	<ul>
		<li>
			State-of-the-art equipment that pin-points exact location of problem to support further
			remedial work
		</li>
		<li>
			Quickest way to check for rodents as they can swim through drainage systems to enter your
			property
		</li>
		<li>
			Experienced engineers who offer a reliable assessment on the effectiveness of the drainage
			system in question
		</li>
	</ul>
	<p>
		Leverage the easiest way to inspect drains and sewers around your existing or a new property.
		Contact us today to understand your options and learn more about our CCTV drain surveys.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`A snapshot of our Drain Tests in ${location}`}
	image={DrainTests}
	imagePosition="left"
>
	<p>
		Newly-laid drainage need to be tested for water tightness prior to backfilling. A drain or water
		test must be performed and passed in the presence of a building inspector to progress with any
		new development work.
	</p>
	<p>
		An air test is usually performed for single pipes or individual drain runs. It is a better
		method to find leaks more easily and employed when testing the complete soil stack.
	</p>
	<p>
		A water test is designed for the complete drainage system, gullies and chambers included. This
		is the other test verifying the safety of drains and soil stacks to receive the certificate of
		safe use.
	</p>
	<p>
		We have the equipment and expertise to assist with all aspects of both tests. We also offer
		sewer tracing services to identify the exact location and depth of the drains at a property.
	</p>
</ServiceInfoCard>
