<h2>Your first choice for clearing blocked drains</h2>
<p>
	Drain blockages can and will occur at the most inconvenient times. We are available <strong
		>24 hours a day, 7 days a week</strong
	> to deal with your problem <strong>quickly and with minimum disruption</strong>.
</p>
<p>
	Internal and external drain blockages can be caused by a variety of reasons. Silt or excessive fat
	or soap deposits are common causes. We have a variety of tools including jetting and mechanical
	equipment that break down any deposits restricting the flow and flushes them away leaving your
	drains clear and free flowing again.
</p>
<p>
	External drain blockages are usually cleared by either rods with attachments or high pressure
	water jetting.
</p>
<p>
	Internal drains and stack pipes can be cleared by a variety of hand tools, mechanical equipment,
	or micro jetting equipment.
</p>
<p>
	If it is suspected that the blockage is caused by some form of structural damage such as root
	ingress or broken or damaged pipework we can perform a CCTV survey to check the condition of the
	pipework, and leave you safe in the knowledge that the problem is not likely to return.
</p>
<p>
	We are able to offer <strong>standard rates</strong> for most clearance work, giving you, the customer,
	<strong>peace of mind</strong>.
</p>
