---
import BlockedToilets from '../../../images/info-blocked-toilets.jpg';
import BlockedSinks from '../../../images/info-blocked-sinks.jpg';
import ServiceInfoCard from '../../ServiceInfoCard.astro';
---

<ServiceInfoCard title="Blocked Toilets" image={BlockedToilets}>
	<p>
		Blocked toilets are a very common problem. Toilets are not designed to handle a lot of the waste
		that we try to dispose of such as sanitary items, wipes and various types of packaging.
	</p>
	<p>
		Consequently a toilet blockage can be a messy problem that needs to be dealt with quickly,
		especially if the household only has the one toilet.
	</p>
	<p>
		We are available to <strong>attend site quickly, night and day</strong>, and with the right
		specialist tools we are generally able to deal with the problem <strong
			>quickly and effectively with mimimum disruption</strong
		>. We also flush through the drains for you to ensure it doesn't happen again.
	</p>
</ServiceInfoCard>

<ServiceInfoCard title="Blocked Sinks" image={BlockedSinks} imagePosition="left">
	<p>
		Sink and bathroom basin or bath blockages can be a messy nightmare. There can be nothing more
		frustrating than a blocked sink or overflowing bath. However, whatever the cause of the
		blockage, we are on hand <strong>24 hours a day, 7 days a week</strong> to deal with the problem
		quickly and with minimum fuss.
	</p>
	<p>
		Whether the solution is a manual unblock to clear the pipework at the sink, bath, shower or
		basin pipe outlet, or the problem is more involved, we have the training, expertise and
		experience to tackle the problem. Our vans carry the specialist equipment needed to clear most
		types of blockages, so we are able to <strong>deal with the problem with no delay</strong>.
	</p>
</ServiceInfoCard>
