<h2 class="h4">
	A CCTV camera survey is the quickest, easiest, and least destructive way to establish the cause
	and location of any drainage problem that is causing blockages.
</h2>
<p>
	A camera inspection can pin point the exact position in the event that remedial work is necessary
	using in-built metreage counts and external sondes.
</p>
<p>
	A CCTV survey can be used to assess damage to pipework by root ingress, pipes blocked by debris
	and silt, or pipe joint displacement and collapsed drains.
</p>
<p>
	A survey and drain test can be carried out on new or existing drainage runs to ensure they comply
	with building regulations.
</p>
<p>
	Survey's are <strong>commonly performed prior to a property purchase</strong> to give the buyer a full
	understanding of the property's drainage system, and to check for any potential drainage problems such
	as leaking or damaged pipework.
</p>
<p>
	We are able to perform quick "look-see" surveys or alternatively we can provide a more in depth
	service with full recording and report.
</p>
<p>
	We have all the latest CCTV equipment which we use to determine what is causing the problems with
	your drainage system. Using this service means we can ascertain exactly where the blockage or
	damage is and what is causing it. Knowing this means we aren't spending hours checking through all
	your pipe work and testing it and also means we know how to tackle the issue in the <strong
		>best and most cost-effective way</strong
	>.
</p>
