---
import ServiceInfoCard from '../../ServiceInfoCard.astro';
import DrainTests from '../../../images/info-drain-tests.jpg';
---

<ServiceInfoCard title="Drain tests" image={DrainTests}>
	<p>
		The Building Regulations state that 'any drain or private sewer shall, on completion of the
		works including backfilling, be capable of withstanding a test for water tightness'.
	</p>
	<p>
		In order for any new development work to be signed off by a building inspector either a water or
		air drain test will need to performed and passed in their presence. <strong
			>We are able to offer assistance in all or any aspect of this procedure</strong
		>.
	</p>
	<p>
		In addition to a full testing and advisory service we also offer drain tracking services using
		drain dyes, sondes and camera survey equipment.
	</p>
</ServiceInfoCard>
