---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">
	Do you live in or around {location} and need a CCTV Drain Survey?
</h2>
<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>
	A CCTV drain camera survey is the <strong>least obtrusive</strong> way of checking your drains to ensure
	they are in a good maintainable condition.
</p>
<p>
	Our state of the art CCTV equipment enables us to establish quickly the condition of your drains
	and to ensure you will not experience any repeat drainage problems such as blockages or flooding.
</p>
<p>
	We are able to provide various levels of CCTV survey reporting in and around {location}, such as a
	quick "look-see" visual inspection and verbal report, or a far more in depth level of recorded
	CCTV survey and written report.
</p>
<h3 class="h4">
	We provide a fully flexible and competitively priced CCTV survey service in and around {location},
	so please call us.
</h3>
