---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">
	Do you need Drain Repairs and live in {location} or the surrounding area?
</h2>
<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>
	Broken or poorly functioning drains are hazardous and can lead to wider problems. Worn drains with
	open or damaged joins will cause sewerage and flooding issues that can cause earth movement and
	building subsidence. If you suspect your drains are damaged it is important to <span
		class="highlight">act fast</span
	>.
</p>
<p>
	Our local team of engineers covering {location} have the experience, equipment and manpower to diagnose,
	coordinate and <strong>resolve any drainage problem swiftly with minimum disruption</strong>.
</p>
<p>
	We have a <strong>duty of care to all our customers</strong> and our well trained team take pride in
	their work. All domestic and commercial drain repairs are undertaken and completed to the same meticulous
	standard.
</p>
<h3 class="h4">
	Call us today and find out why we're one of the highest rated companies for Drain Repairs in {
		location
	}.
</h3>
