---
import NavList from './NavList.astro';
import NavListItem from './NavListItem.astro';

type Props = Record<string, never>;
---

<li role="none">
	<NavList>
		<NavListItem href="/blocked-drains" text="Blocked Drains" />
		<NavListItem href="/cctv-drain-surveys" text="CCTV Drain Surveys" />
		<NavListItem href="/drain-repairs" text="Drain Repairs" />
		<NavListItem href="/soakaways-septic-tanks" text="Soakaways and Septic Tanks" />
		<NavListItem href="/gutter-cleaning" text="Gutter Cleaning" />
	</NavList>
</li>

<style lang="scss">
	li div {
		padding-bottom: var(--s-16);
		font-size: var(--fs-nav);
		font-weight: var(--fw-bold);
		list-style: none;
		white-space: nowrap;
	}
</style>
