---
import Coverage from './Coverage.astro';
import Map from './Map.astro';

interface Props {
	county?: string;
	countySlug?: string;
}

const { county, countySlug } = Astro.props;
---

<main>
	<div class="inner-wrapper">
		<h2>Welcome to EVO Drainage Services</h2>
		<div class="row">
			<div class="text">
				<h3 class="h4 coloured-text">
					Your first choice for drain unblocking, clearance and repairs in {county}.
				</h3>
				<p>
					Issues with blocked drains or a blocked toilet/sink? From planned maintenance work to
					emergency drain repairs, choose EVO Drainage Services and receive the assistance you need.
					Our dedicated team have a wealth of experience in tackling both common and complex
					drainage problems.
				</p>
				<p>
					Wherever you are in <strong>{county}</strong> we will ensure you are completely satisfied with
					the work we do.
				</p>
				<p>
					Combining more than 30 years' experience our priority is to be your <strong
						>preferred choice for planned and emergency drainage work</strong
					> delivering an experience of unsurpassed excellence for each and every customer.
				</p>
				<p>
					Call us today and find out why we are a <strong>highly rated drainage company</strong> in {
						county
					}.
				</p>
			</div>

			<aside>
				{countySlug ? <Map locationSlug={countySlug} /> : <Coverage />}
			</aside>
		</div>
	</div>
</main>

<style lang="scss">
	main {
		padding: var(--scale-32-64) 0;
	}

	.inner-wrapper {
		display: grid;
		gap: var(--scale-32-64);
	}

	.text {
		display: grid;
		gap: var(--scale-16-32);
	}

	.row {
		display: flex;
		gap: var(--scale-32-64);
		align-items: start;
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
		}

		.text {
			width: 100%;

			@media (min-width: 768px) {
				width: 60%;
			}
		}

		aside {
			width: 100%;

			@media (min-width: 768px) {
				width: 40%;
			}
		}
	}
</style>
