---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h4">
	Your one-stop provider of CCTV drain survey and tests to assess the effectiveness, safety and
	condition of drainage systems and sewers.
</h2>
<p>
	We employ advanced water-proof drain cameras, sondes and other survey equipment to assess and test
	new or existing drainage runs for home maintenance, purchase or regulatory purposes.
</p>
<p>
	Our local engineers deliver prompt service to {location} customers at cost-effective prices.
</p>

<h3 class="h4 coloured-text">
	Call us now on {locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER}`} to schedule a CCTV drain
	survey or test.
</h3>

<p>
	Our {location} engineers can work to your specific requirements in the most cost-effective way possible.
</p>

<p>
	Where before, a drain survey required engineers to manually enter drains, today, CCTV drain
	surveys show you all parts of your drainage system quickly and easily. A survey helps gauge the
	effectiveness of an existing drainage system and check for underlying issues that may be
	obstructing the free flow of water and drainage.
</p>
