---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">
	Do you have a Blocked Drain and live in {location} or the surrounding area?
</h2>
<h3 class="h4 coloured-text">
	Call us now on {locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER}`} for a quick resolution
	to your problem.
</h3>

<p>
	We have local engineers working 24/7 in and around {location} who are able to respond quickly and resolve
	your problem with <strong>quickly and with minimum disruption</strong>.
</p>
<p>
	You may not know what the cause of the drain issue , but we have the knowledge, experience, and
	equipment to clear the problem quickly and ensure the issue does not recur.
</p>
<h3 class="h4">
	We have a long history of drainage clearance work in {location} and have built up a solid reputation
	for a reliable and quality service, and at very competitive rates.
</h3>
