---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">
	Do you have a Blocked Drain and live in {location} or the surrounding area?
</h2>
<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>
	Our local team of engineers covering {location} are able to get to you <strong
		>24 hours a day, 7 days a week</strong
	> to deal with your problem <strong>quickly and with minimum disruption</strong>.
</p>
<p>
	We have a variety of tools including jetting and mechanical equipment that break down any deposits
	restricting the flow and flushes them away leaving your drains clear and free flowing again.
</p>
<h3 class="h4">
	We are able to offer standard rates for most clearance work so call us today and find out why
	we're one of the highest rated companies for clearing blocked drains in {location}.
</h3>
